<div class="login-bg">
    <div class="loginColumns animated fadeInDown">
            <div class="row">
                <div class="col-md-6 text-center" style="color: #ffffff;">
                    <h3 class="font-bold">SISTEMA DE GESTIÓN DOCUMENTAL </h3>
                    <h3 class="font-bold">FRANJA FUCSIA </h3>
                    <div class="logo-bg"></div>
                </div>
                <div class="col-md-6">
                    <div class="ibox-content" style="border-radius: 5px;">
                        <form #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)" class="m-t">
                                <div class="form-group">
                                    <input 
                                    type="text" 
                                    name="username" 
                                    class="form-control" 
                                    placeholder="Usuario" 
                                    required 
                                    ngModel
                                    #username="ngModel">
                                </div>
                                <div class="form-group">
                                    <input 
                                    type="password"
                                    name="password"
                                    class="form-control" 
                                    placeholder="Contraseña" 
                                    required
                                    ngModel
                                    #password="ngModel">
                                </div>
                                <button 
                                type="submit" 
                                class="btn btn-primary full-width block m-b"
                                [disabled]="!formLogin.valid"><strong>Ingresar</strong></button>
                        </form>
                        <p class="m-t">
                            <small>Inspinia we app framework base on Bootstrap 3 © 2014</small>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="color: #ffffff;">
                <div class="col-md-6">
                    Copyright Franja Fucsia
                </div>
                <div class="col-md-6 text-right">
                    <small>© 2018</small>
                </div>
            </div>
    </div>
</div>

<!--
<div class="login-bg text-center animated fadeInDown">
    <div class="login-box ">
        <div class="login gray-bg-2" style="margin-top:10%;">
            <div class="card">
                <h1 class="logo-name text-shadow" style="color:rgb(255, 255, 255);padding-top: 30px;">SGD</h1>
                <h3 class="text-shadow" style="color: rgb(245, 245, 245);margin-bottom: 40px;">Bienvenido a SGD Franja Fucsia </h3>
                <div style="margin-left: 20px; margin-right: 20px;margin-bottom: 30px;">
                    <form #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)" class="m-t">
                        <div class="form-group">
                            <input 
                            type="text" 
                            name="username" 
                            class="form-control" 
                            placeholder="Usuario" 
                            required 
                            ngModel
                            #username="ngModel">
                        </div>
                        <div class="form-group">
                            <input 
                            type="password"
                            name="password"
                            class="form-control" 
                            placeholder="Contraseña" 
                            required
                            ngModel
                            #password="ngModel">
                        </div>
                        <button 
                        type="submit" 
                        class="btn btn-yellow full-width block m-b"
                        [disabled]="!formLogin.valid"><strong>Ingresar</strong></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <spinner-component [spinnerShow]="loader">
    <div class="spinner-2">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    </spinner-component>
    <simple-notifications></simple-notifications>
</div>
-->